<layout menu="home"></layout>

<div id="showuser" class="container-fluid cont" style="max-width: 80rem">
  <h4>View User</h4>

  <li class="list-group-item">
    <form> 
      <div class="form-group row">
        <label for="Name" class="col-sm-3 col-form-label">Full Name :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control rounded-0" id="Name" value=""  name="fullname" [(ngModel)]="user.fullname">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control rounded-0" id="email" value="" name="email" [(ngModel)]="user.email">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control rounded-0" id="email" value="" name="email" [(ngModel)]="user.email">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email :</label>
        <div class="col-sm-3">
          <input type="text" class="form-control rounded-0" id="email" value="" name="email" [(ngModel)]="user.email">
        </div>
      </div>

      

    </form>
</li>
</div>
