<layout menu="home"></layout>

<div class="panel panel-default" style="padding :50px">
  <div class="panel-heading">Change Password</div>
  <div class="panel-body">
	  <form role="form" name="form" id="changePasswordForm">
		  <div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label>Email<span class="text-danger">*</span></label>
					<input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" disabled="true">
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="password">Password<span class="text-danger">*</span> </label>
					<input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" (ngModelChange)="user.password=$event;validatePassword(1)">
					<span *ngIf="errorMap.get('password')!=null" class="help-block">{{errorMap.get('password')}}</span>
				</div>
				
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" (ngModelChange)="user.confirmPassword=$event;validatePassword(2)">
					<span *ngIf="errorMap.get('confirmPassword')!=null" class="help-block">{{errorMap.get('confirmPassword')}}</span>
				</div>

			</div>
			<div class="col-md-6 text-right">
				<button class="btn btn-primary" (click)="back()"
					style="margin-right: 15px;">Back</button>
				<button type="submit" class="btn btn-success" (click)="changePassword()">Update Password</button>
			</div>
		  </div>
	  </form>
  </div>
</div>
